// Varibles de colores
$azul-1: #303868;
$azul-2: #52678E;
$azul-3: #6F8FC8;
$azul-4: rgb(0, 87, 128);
$azul-5: #6bb5d8;

// Variables Status
$programado: #8B5CF6;
$por_recoger: #FBBF24;
$en_transito: $azul-3;
$entregado: #059669;
$falso_flete: #DC2626;
$anulado: #D97706;